.titulo-1{
    color: rgb(200, 200, 212);
    background-color: rgb(0, 1, 15);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.titulo-2{
    color: rgb(171, 171, 235);
    background-color: rgb(9, 22, 56);
    font-family:monospace;
    text-align: center;
}
.titulo-3{
    color: rgb(159, 174, 189);
    background-color: rgb(39, 39, 4);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
.parrafo-1{
    color: rgb(156, 156, 209);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo-2{
    color: rgb(151, 151, 161);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo-3{
    color: rgb(107, 107, 114);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

